body 
{
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;

  /* Background Settings */
  background-image: url('/img/siteBackground4.jpg');
  background-attachment: fixed;
}

/* TOP HEADER CSS */

  .topheader
  {
    /* Padding Settings */
    padding-top: 20px;
    padding-bottom: 20px;
    
    /* Font + Text Settings */
    font-family: "Dancing Script";
    font-size: 60px;
    text-align: center;
    
    /* Background Settings */
    /* background-color: #3c1361; */
  }

/* TOP NAV CSS */

  .navigation 
  {
    overflow: hidden;
    background-color: #808080;

    /* Border Settings */
    border-top: 5px solid black;
    border-bottom: 5px solid black;

    /* Created Fixed Nav Bar*/
    position: fixed;
    top: 0; 
    width: 100%;

    z-index: 500;
    
  }

  .navigation ul
  {
    /* List Style */
    list-style: none;

    /* Margins & Padding */
    margin: 0;
    padding: 0;

    /* Display */
    display: flex;
    flex-direction: row;

  }

  .navigation ul li
  {
    flex-grow: 1;
    padding: 10px 10px;
    text-align: center;
    margin: 0;
    color: white;
  }

  .navigation ul li a
  {
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-family: "Dancing Script";
    font-size: 30px;
  }

  .navigation li.active
  {
    background-color: #808080;
    color: white;
  }

  .navigation ul li:hover
  {
    background-color: #808080;
    color: black;
  }

  img
  {
    height: auto;
    max-width: 100%;
    /* background-color: #3c1361; */
  }

  /* INTRO CSS */

  .introContainer
  {
    padding-bottom: 100px;
    text-align: center;
    
  }

  .intro
  {
    display: inline-block;
    /* Padding Settings */
    padding-left: 100px;
    padding-right: 100px;
    
    /* Font + Text Settings */
    font-family: "Dancing Script";
    font-size: 40px;
    text-align: center;
    
    /* Background Settings */
    background-color: rgba(128,128,128, 0.99);
    width: 85%;

    border-radius: 10px;

    color: white;
  }

  .collectionTitle
  {
    text-align: center;
  }

  .collectionTitle p
  {
    display: inline-block;
    /* Padding Settings */
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 5px;
    padding-top: 5px;
    
    /* Font + Text Settings */
    font-family: "Dancing Script";
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    
    /* Background Settings */
    background-color: rgba(128,128,128, 0.99);
    width: 40%;

    border-radius: 10px;

    color: white;
  }

  /* Form CSS */

  form 
  {
    display: grid;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin: 6rem auto 3rem auto;
    max-width: 800px;
    padding: 1em;
  }

  form input 
  {
    background: #fff;
    border: 1px solid #9c9c9c;
  }

  form button 
  {
    background: lightgrey;
    padding: 0.7em;
    width: 100%;
    border: 0;
  }

  form button:hover 
  {
    background: #15EFEF;
  }
  
  label 
  {
    padding: 0.5em 0.5em 0.5em 0;
  }
  
  input 
  {
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }

  input:focus
  {
    outline: 3px solid #15EFEF;
  }
  
  textarea:focus
  {
    outline: 3px solid #15EFEF;
  }

  hr
    {
      width: 100%;
      height: 0px;
      border: 2px solid #15EFEF;
      border-radius: 2px;
    }
  
  @media (min-width: 600px) 
  {
    form 
    {
      grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
      grid-gap: 10px;
    }
  
    .first-name, .phoneNumber, .address, .city 
    {
      text-align: right;
      grid-column: 1 / 2;
    }

    #firstName, #phoneNumber
    {
      grid-column: 2 / 5;
    }

    #address
    {
      grid-column: 2 / 10;
    }

    #city
    {
      grid-column: 2 / 5;
    }

    .state
    {
      text-align: right;
      grid-column: 5 / 6;
    }

    #state
    {
      grid-column: 6 / 7;
    }

    .zip
    {
      text-align: right;
      grid-column: 8 / 9;
    }

    #zip
    {
      grid-column: 9 / 10;
    }


    .last-name, .email
    {
      text-align: right;
      grid-column: 5 / 6;
    }

    #lastName, #email
    {
      grid-column: 6 / 10;
    }

    .deliveryDate
    {
      text-align: right;
      grid-column: 1 / 3;
    }

    #deliveryDate
    {
      grid-column: 3 / 5;
    }

    .quantity
    {
      text-align: right;
      grid-column: 2 / 3;
    }

    #quantity
    {
      grid-column: 3 / 4;
    }
  
    .cheesecakeSelector
    {
      text-align: right;
      grid-column: 4 / 6;
    }

    select
    {
      grid-column: 6 / 9;
      height: 35px;
    }

    button
    {
      grid-column: 1 / 1;
    }

    textarea
    {
      grid-column: 1 / 4;
      height: 30px;
    }

    .title
    {
      grid-column: 1 / 10;
      text-align: center;
    }

    .subtitle
    {
      grid-column: 1 / 10;
      text-align: left;
      text-decoration: underline;
    }

    .totalCost
    {
      grid-column: 1 / 3;
    }

    .myButton
    {
      grid-column: 3 / 4;
    }

    hr
    {
      grid-column: 1 / 10;
      height: 0px;
      border: 2px solid #15EFEF;
      border-radius: 2px;
    }

  }

  select 
  {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #15EFEF;
  }


  /*cheesecake page*/

  * {
    box-sizing: border-box;
  }

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 50px 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 65%;
    cursor: pointer;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 1000px) 
  {
    .column 
    {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
      vertical-align: middle;
      align-content: center;
    }

    .collectionTitle p
    {
      display: inline-block;
      /* Padding Settings */
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 5px;
      padding-top: 5px;
      
      /* Font + Text Settings */
      font-family: "Dancing Script";
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      
      /* Background Settings */
      background-color: rgba(128,128,128, 0.99);
      width: 40%;

      border-radius: 10px;

      color: white;
    }
    .intro
    {
      display: inline-block;
      /* Padding Settings */
      padding-left: 20px;
      padding-right: 20px;
      
      /* Font + Text Settings */
      font-family: "Dancing Script";
      font-size: 20px;
      text-align: center;
      
      /* Background Settings */
      background-color: rgba(128,128,128, 0.99);
      width: 85%;

      border-radius: 10px;

      color: white;
    }

    .topheader img
    {
      height: auto;
      max-width: 50%;
      /* background-color: #3c1361; */
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) 
  {
    .column 
    {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
      vertical-align: middle;
      align-content: center;
    }
  }

  /*MODAL CSS*/

/* ===================================== 
   Modal
======================================== */

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 100px;
}

.modal 
{
  position: relative;
  width: 95%;
  max-width: 420px;
  min-height: 415px;
  margin: 10px auto auto;
  padding-bottom: 15px;
  background: rgba(255, 255, 255, 1);
  border-radius: 0.25em;
  border: 1px solid rgba(100, 100, 100, 0.3);
  transition: 3s ease-out;
  text-align: center;
}

.modal-close-btn 
{
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.8);
  outline: none;
  border-radius: 0.25em;
  border: 1px solid rgba(50, 50, 50, 0.3);
}

.modal-img 
{
  width: 40%;
  margin-top: 35px;
  border-radius: 50%;
}

/* added to have some fun functionality */

.modal-img:hover{

  transform: scale(1.2);

}

.modal-name {
  margin-bottom: 5px;
}

.modal-text, .modal-name{
  color: rgba(50, 50, 50, 0.7);
  margin: 10px;
  text-align: center;
}

.modal-name{
  color: black;
  margin: 10px;
  text-align: center;
}

.modal hr {
  width: 75%;
  margin: 25px auto 30px;
  border-color: rgba(200, 200, 200, 0.2);
}

.modal-btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 95%;
  max-width: 420px;
  padding: 10px 15px 15px;;
  margin: 10px auto auto;
  background: rgba(255, 255, 255, 1);
  border-radius: 0.25em;
  border: 1px solid rgba(100, 100, 100, 0.3);
}


.modal-btn-container .btn {
  display: inline-block;
  cursor: pointer;
  font-size: 0.85em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1.5em;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.35em;
  transition: .4s ease-out;
  outline: none;
}

   .modal-toggle-button 
   {
    cursor: pointer;
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
   }

   .modal-toggle-button:focus 
   {
    outline: none;
   }



   /*TESTING*/

   .imgContainer {
    position: relative;
    width: 100%;
  }
  
  .image {
    opacity: 1;
    display: inline-block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;

  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .imgContainer:hover .image {
    opacity: 0.3;
  }
  
  .imgContainer:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #808080;
    border-radius: 5px;
    font-family: "Dancing Script";
    color: black;
    font-size: 30px;
    font-weight: bolder;
    padding: 16px 32px;
  }


